node_modules/
dist/
build/
tmp/
output/
.DS_Store
*.log
*.mobileprovision
*.p12
*.cer
*.key
*.xcarchive
DerivedData/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/DerivedData/
ios/App/Pods/
ios/App/xcuserdata/
ios/App/**/*.xcuserstate
captures/
recordings/
